@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  overflow-x: hidden;
}

#profilePhoto {
  box-shadow: 2px 4px 4px 2px rgb(0, 170, 249);
  animation: myBlob 5s ease-in-out infinite;
  transition: all 5s ease-in-out;
}

@keyframes myBlob {
  0%, 100% {
    border-radius: 50% 50% 40% 70% / 60% 40% 80% 50%;
  }
  50% {
    border-radius: 40% 100% 50% 30% / 50% 60% 30% 70%;
  }
}

#handEmoji {
  transition: transform 2s ease-out;
}

#handEmoji:hover {
  animation: wave 2s infinite;
}

@keyframes wave {
  0%, 100% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-30deg);
  }
}


/* Mouse animation */
.star {
  animation: starFall 1s ease-in-out;
  transition: transform 1s ease-in-out;
  box-shadow: 0px 0px 100px 1px rgb(255, 0, 238);
}
.star2 {
  animation: starFall2 1.5s ease-in-out;
  transition: transform 1.5s ease-in-out;
}
.star3 {
  animation: starFall3 1.2s ease-in-out;
  transition: transform 1.2s ease-in-out;
  box-shadow: 0px 0px 100px 1px rgb(255, 0, 238);

}

@keyframes starFall {
  0% {
      transform: translateY(0) rotate(0) scale(120%);
      opacity: 1;
  }
  100% {
      transform: translateY(30px) rotate(40deg) scale(100%);
      opacity: 0;
  }
}
@keyframes starFall3 {
  0% {
      transform: translateY(0) rotate(0) scale(120%);
      opacity: 1;
  }
  100% {
      transform: translateY(100px) rotate(100deg) scale(100%);
      opacity: 0;
  }
}
@keyframes starFall2 {
  0% {
      opacity: 1;
  }
  100% {
      opacity: 0;
  }
}

.shine {
  background: linear-gradient(
    to right,
    cyan,
    rgb(0, 255, 60),
    rgb(7, 171, 75),
    rgb(0, 255, 94),
    cyan

  );
  background-size: 200% auto;
  color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  animation: shine 3s alternate-reverse infinite;
}

@keyframes shine {
  from{
    text-shadow:none;

  }
  to {
    background-position: 200% center;
    /* text-shadow: 0px 0px 2px rgb(0, 204, 255); */
  }
}
